/* Some CSS Setup - nothing to do with flexbox */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,300,400,600');
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background:#eeeeee;
  font-size: 20px;
  height: 100%;
  font-weight: 200;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
body {
 font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  margin: 0 auto;
  background: #EEEEEE;
}
body h1{
   font-family: 'Cormorant', serif;
}
nav a {
  color:white;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  background:rgba(0,0,0,0.2);
  padding:20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  -webkit-transition:all 0.5s;
  transition:all 0.5s;
}

nav a:hover {
  background:grey;
}




/* Navigation bar*/
nav {
  background:#34373C;
  top:0;
  width: 100%;
  -webkit-transition:all 0.5s;
  transition:all 0.5s;
  position: relative;
  z-index: 1;
}

.flex-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border:1px solid black;
  list-style: none;
  margin: 0;
  padding: 0;
  

}
.flex-nav li{
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}
.flex-nav .social{
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media all and (max-width:1000px) {
  .flex-nav ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.flex-nav li{
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}
.flex-nav .social{
-webkit-box-flex: 1;
    -ms-flex: 1 1 20%;
        flex: 1 1 20%;
}
 .twitter{
      display: none;
  }

  .project-container{
  
          flex-flow: column nowrap;
          width: 80%;
  }
  .project{
      margin: 100px;
      flex: 0 1 100%;
      
  }
}

@media all and (max-width:500px) {
  .flex-nav li{
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
 

}
body.fixed-nav nav {
  position: fixed;
  -webkit-box-shadow:0 5px 0 rgba(0,0,0,0.1);
          box-shadow:0 5px 0 rgba(0,0,0,0.1);
}
.fixed-nav li.social {
  max-width:500px;
}

li.social {
  max-width:0;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;

}

/* header video */
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}

.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
.down{
    position:absolute;
    left:50%;
    bottom: 10%;
    margin-left:-50px;
    margin-top:-50px;
}
.shadow{
  margin: 10px;
  padding: 5px;
  color: white;
   -webkit-box-shadow: 5px 17px 10px -10px rgba(0,0,0,0.3);
           box-shadow: 5px 17px 10px -10px rgba(0,0,0,0.3);
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
.shadow:hover{
   
    transform: translate(0px, -5px) scale(1.1);
  -webkit-transform: translate(0px, -10px) scale(1.2);
  -webkit-box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.3);
          box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.3);
}
.video-annotation-1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position:relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white; min-height: 100vh;
}
.video-annotation-1 h1{
    text-shadow: 10px 10px 0 rgba(0,0,0,1);
    font-size: 100px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: rotate(350deg);
            transform: rotate(350deg);
}


.fa-ul{
    position: absolute;
    color: white;
    top: 0%;
    right: 0%;
}
.fa-ul a:visited{
    color: white;
}
.fa-ul li{
    margin-bottom: 18vh;
}
.fa-ul:last-child{
    margin-bottom: 0;
}

/* content */
.about-container{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
   
  -webkit-box-pack: justify;
   
      -ms-flex-pack: justify;
   
          justify-content: space-between;
}
.about-wrap {
  max-width: 100vh;
  margin: 70px auto;
  margin-right: auto;
  padding:40px;
  text-align: justify;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);

 
}
#about {
    padding-top: 50px;
    margin-top: -50px;
}
.contact-container {
    background-color: #333;
    width: 100%;
    word-wrap: break-word;
    display: block;
    z-index: 100;
    margin-top: 0px;}
.contact-info{
    
    height: 100%;
    -ms-flex-line-pack: center;
        align-content: center;
}
.contact-info p{
    color: white;
}
.twitter{

    margin-left: auto;
   
}

/* Projects */

.project-container{

 min-width:100%;

  display:-webkit-box;
  display:-ms-flexbox;
  display:flex; 
   flex-flow: row wrap;
    -webkit-box-align:center; 
      -ms-flex-align:center; 
          align-items:center;

}
.align-self {
  align-self:flex-start;
  width: 60%;
  margin: 20px;
}
.project{
  background:rgba(255,255,255,0.2);
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  margin:50px;
  border-radius: 4px;
  text-align: center;
 align-items: flex-start;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
flex-grow: 1;
    flex: 1 1 40%;
  -ms-flex-wrap:wrap;

      flex-wrap:wrap;



}
.project p{
    margin: 5px;
}
.project > * {
  -webkit-box-flex:1;
      -ms-flex:1 1 100%;
          flex:1 1 50%;
}
.project .butt {
  
}